@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C3E50;
    min-height: 100vh;
}

#canvas{
    border: 6px solid #000;
    background-color: #5DADE2;
    border-radius: 0.6rem;
}